{% if groups['dc-1'] is defined and inventory_hostname in groups['dc-1'] %}
MSIP={{ hostvars[groups['dc-1-ms'][0]][interface_name].ipv4.address }}
{% elif groups['dc-2'] is defined and inventory_hostname in groups['dc-2'] %}
MSIP={{ hostvars[groups['dc-2-ms'][0]][interface_name].ipv4.address }}
{% else %}
{# Default to the MS in region 1 #}
MSIP={{ hostvars[groups['dc-1-ms'][0]][interface_name].ipv4.address }}
{% endif %}
ADMIN_EMAIL={{ opdk_user_email }}
APIGEE_PORT_HTTP_MS={{ ms_port }}
APIGEE_ADMINPW={{ opdk_user_pass }}
REGION={{ region }}
MP_POD={{ opdk_mp_pod }}
{% if groups['dc-1'] is defined and inventory_hostname in groups['dc-1'] %}
MP_IP="{{ hostvars[groups['dc-1-rmp'][0]][interface_name].ipv4.address }}"
{% elif groups['dc-2'] is defined and inventory_hostname in groups['dc-2'] %}
MP_IP="{{ hostvars[groups['dc-2-rmp'][0]][interface_name].ipv4.address }}"
{% elif groups['dc-3'] is defined and inventory_hostname in groups['dc-3'] %}
MP_IP="{{ hostvars[groups['dc-3-rmp'][0]][interface_name].ipv4.address }}"
{% else %}
MP_IP=please update the mp ip address
{% endif %}
MP_PORT={{ mp_ext_mgmt_port }}
{% if groups['dc-1'] is defined and inventory_hostname in groups['dc-1'] %}
HOST_ALIAS="{% for host in groups['dc-1-rmp'] %}{{ hostvars[host]['private_address'] }}{% if not loop.last %} {% endif %}{% endfor %}"
{% elif groups['dc-2'] is defined and inventory_hostname in groups['dc-2'] %}
HOST_ALIAS="{% for host in groups['dc-2-rmp'] %}{{ hostvars[host]['private_address'] }}{% if not loop.last %} {% endif %}{% endfor %}"
{% elif groups['dc-3'] is defined and inventory_hostname in groups['dc-3'] %}
HOST_ALIAS="{% for host in groups['dc-3-rmp'] %}{{ hostvars[host]['private_address'] }}{% if not loop.last %} {% endif %}{% endfor %}"
{% else %}
HOST_ALIAS="Neither a dc-1 or dc-2 inventory group was defined"
{% endif %}
YES="{{ confirm_delete_org }}"
