[defaults]
hostfile = {{ workspace_dir }}/inventory/
fact_caching_connection = {{ workspace_dir }}/tmp/
log_path = {{ workspace_dir }}/tmp/ansible-default.log

remote_user = {{ username }}
private_key_file = ~/.ssh/id_rsa

roles_path = {{ workspace_dir }}/roles
local_tmp = {{ workspace_dir }}/tmp
library = {{ workspace_dir }}/library/

host_key_checking = false
forks = 10
retry_files_enabled = False

ansible_shell_type=sh
gathering = smart
fact_caching = jsonfile
module_name = shell

merge_multiple_cli_tags=True
gather_subset = !ohai,!facter
display_args_to_stdout = True

timeout = 60

[ssh_connection]
pipelining = True
# Sample ssh_args with extended arguments
# ssh_args = -o ControlMaster=auto -o ControlPersist=7200s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -q

# Plain vanilla ssh configuration
ssh_args = -o ControlMaster=auto -o ControlPersist=7200s -q
control_path=%(directory)s/ansible-ssh-%%h-%%p-%%r

