HOSTIP=$(hostname -i)
MP_POD={{ opdk_mp_pod | default(default_mp_pod) }}
REGION={{ region }}

PG_PWD='{{ dp_pg_pass | default(pg_pass) }}'
{% if db_pgstandby_ip is defined %}
PG_STANDBY={{ db_pgstandby_ip }}
{% endif %}
{% if db_pgmaster_ip is defined %}
PG_MASTER={{ db_pgmaster_ip }}
{% endif %}
